/* External css files */
@import url(./sanitize.css);
@import url(./fonts.css);
@import url(./header.css);
@import url(./nav.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./responsive.css);

/* Global styles start here  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans ', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul,
li {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #293347;
  text-transform: capitalize;
}

a:hover {
  color: rgb(255, 100, 73);
}
/* Global styles end here  */

/* Page structure styles start here */

.container {
  display: grid;
  height: 100%;
  grid-template-columns: [first-line] 8vh [line2] auto [line3] 8vh [last-line];
  grid-template-rows:
    [first-row] 8vh [row2] minmax(92vh, auto) [row3] minmax(100vh, auto)
    [row4] minmax(20vh, auto) [last-row];
}
/* Page structure styles end here */
